*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{

  background-color: gray;
}
.Background{
 
  width: 80%;


 box-shadow:4px 4px 4px gray;
  
 background-color: gray;  
 margin: 10px;
  margin-bottom:10px ;
  display: flex;
  position: relative;
  justify-content: space-around;

}

.footere{
  background-color:rgb(49, 41, 41);
  width: 100%;
  height: 100px;
  margin-top: 100px;
  border-top: solid gray 1px;
}
nav{
  
  background-color: rgb(49, 41, 41);
  display: flex;

  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
 

  
    font-family: Arial, Helvetica, sans-serif;

}
.foot-logo{
  
  color:rgb(92, 86, 86);

   
    text-transform: uppercase;
    letter-spacing: 4px;
 
}
.foot-logo:hover{
 
  color:white;

}
.foot-links a{
  
  color:rgb(92, 86, 86);
   
   
    text-transform: uppercase;
    letter-spacing: 4px;
 
}
.foot-links a:hover{
 color: white;

}
.logo{
 color: rgb(136, 135, 135); 

 text-transform: uppercase;
 letter-spacing: 4px;
}
.logo:hover{
  font-size:30px;
  color:white;
  letter-spacing: 6px;
}
.nav-links{
display: flex;
justify-content: space-around;
width: 20%;
list-style: none;

}
.nav-links a{
  font-size: 18px;
  color:rgb(124, 119, 119);
  text-decoration: none;
}
.nav-links a:hover {
  font-size: 30px;
 color: white;
  text-decoration: none;
}
.nav-button{
  
  display: none;
}
.nav-button:hover div{
  background-color:rgb(255, 2, 78);
}
.nav-button:hover{
  cursor: pointer;
}
.nav-button div{
background-color: white;

height: 5px;
width: 20px;
margin: 2px;
}
 .Comp {
  color:white;
  position: relative;
  top: 10px;
  left: 100px;
  bottom: 30px;
}

.AutComp {
  color:white;
  position: relative;
  top: 10px;
  left: 100px;
  bottom: 30px;
}

.TitilePort{
  color:white;
  position: relative;
  top: 10px;
  left: 100px;
  bottom: 30px;
}

.card1:hover,.card2:hover,.card3:hover{
  background-color: rgb(34, 29, 29);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  max-width: 200px;
}
.Background img:hover{
  opacity: 0.5;

}

.card1 {
  background-color:white;
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  padding: 10px 10px 10px 10px;
  text-align: center;
 

  

 
}

.card2 {
  background-color:white;
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  justify-content: space-around;
 
}
.card3 {
  background-color:white;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;

  text-align: center;

 
}


.title {
  color: grey;
  font-size: 18px;
}

.Background button {
  border: none;
  outline: 0;
  display: inline-block;
  margin-top: 10px;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.Background button:hover, .Background a:hover {
  opacity: 0.7;
  background-color: teal;
}
@media screen and (max-width:700px){
  body {
    overflow-x:hidden;
  }
  .Background{
   top: 50px;
    bottom: 100px;
    display: inline-block;
    
 
  }
 

 
    .nav-links{
    display: flex;
    z-index: 10;
    position: absolute;
  width: 30%;
    right: 0px;
    height: 50vh;
    top: 8.2vh;
    flex-direction: column;
    align-items: center;
    background-color:rgb(44, 36, 36) ;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-bottom: solid gray 1px;
    border-left: solid gray 1px;
  }

  .nav-button{
    display: block;
  }
  .nav-active{
    transform: translateX(0%);
  }
 
}
@keyframes navLinkFade{
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }

}



@media screen and (max-width:760px){
  .cards{
    
    display: inline;
    
 
  }
}
